@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.logo-menu {
    padding: 18px;
    display: flex;
    justify-content: space-around;
    box-shadow: 10px 10px 10px gray;
}
.logo-menu a {
    text-decoration: none;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img{
    height: 2rem;
    margin-right: 15px;
}
.title{
    font-size: 2rem;
    font-weight: 700;
}
.text-color{
    color: #FF42A5;
}
.menu>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu li {
    font-size: .8rem;
    font-weight: 500;
    list-style: none;
    margin-right: 20px;
}
.icon{
    padding: 8px 0 8px 15px;
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
}
.icon>ul {
    display: flex;
    justify-content: space-around;
}
.fa-youtube{
    color: #F61C0D;
}
.fa-tiktok{
    color: black;
}


@media screen and (max-width:576px) {
    .logo-menu{
        margin-top: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        box-shadow: none;
    }
    .logo{
        margin-bottom: 30px;
    }
    .title {
        font-size: 2rem;
    }
    .menu>ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu>ul> li{
        margin-bottom: 20px;
    }
    .logo img{
        height: 1.4rem;
        margin-right: 8px;
    }
    .title {
        font-size: 1.2rem;
    }
    .icon{
        padding: 6px 0 6px 12px;
        margin-top: 10px;
    }
    .menu li{
        font-size: .6rem;
        margin-right: 8px;
    }
    
}

@media screen and (min-width:576px) and (max-width:992px){
    .logo-menu {
        padding: 10px;
        justify-content: space-evenly;
    }
    .logo img {
        height: 1.2rem;
    }
    
    .title {
        font-size: 1.2rem;
    }
    .menu li{
        font-size: .6rem;
        margin-right: 10px;
    }
    .icon{
        padding: 6px 0 6px 12px;
    }
}
