@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}
/* navbar section's styles */
.logo-menu {
    padding: 25px 140px;
    display: flex;
    justify-content: space-between;
    border: 1px solid snow;
}
.logo-menu a {
    text-decoration: none;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img{
    height: 1.65rem;
    margin-right: 15px;
}
.title{
    font-size: 2rem;
    font-weight: 700;
}
.text-color{
    color: #FF42A5;
}
.menu>ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu li {
    font-size: .8rem;
    font-weight: 500;
    list-style: none;
    margin-right: 20px;
}
.icon{
    padding: 8px 0 8px 15px;
    border-radius: 5px;
    background: rgba(11, 2, 35, 0.10);
}
.icon>ul {
    display: flex;
    justify-content: space-around;
}
.fa-youtube{
    color: #F61C0D;
}
.fa-tiktok{
    color: black;
}

/* Banner section's styles */
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30rem;    
    background-image: url('../images/Group-14.png');
    background-repeat: no-repeat;
    background-size: 50%;
}
.banner-title1 {
    font-size: 2.1rem;
    font-weight: 600;
    color: #0B0223;
}
.banner-title2{
    font-size: 4.1rem;
    font-weight: 800;
    color: #8758F1;
}
.banner-content > p {
    font-size: .8rem;
    font-weight: 500;
    color: #534C64;
}
.banner-image> img{
    height: 30rem;
}
.primary-btn1{
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 25px;
    padding: 13px 25px;
    background-color: #FF42A5;
    margin-top: 10px;
    margin-right: 12px;
}
.primary-btn2{
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 25px;
    padding: 13px 25px;
    background-color: #4EC5F7;
    margin-top: 10px;
}
/* gamer section's styles */
.gamer{
    background-color: #ff42a508;
    height: 25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 70px;
}
.gaming-content{
    text-align: right;
}
.gaming-content > p{
    font-size: .8rem;
    color: #534C64;
    font-weight: 400;
    line-height: 22px;
}
.gaming-title{
    color: #8758f1;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.gaming-image > img {
    height: 23rem;
    width: 42rem;
}
.unknown-btn{
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 25px;
    padding: 12px 25px;
    background-color: #FF42A5;
    margin: 20px 0;
}
.every-gamer{
    color: #534C64;
    font-weight: 700;
    font-size: 24px;
}
/* Online game videos section's styles */
.online-videos{
    width: 66rem;
    margin: 70px auto;
}
.online-content{
    text-align: center;
}
.online-title{
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-weight: 700;
}
.funny-v{
    color: #8758f1;
}
.short-note{
    color: #534C64;
    font-weight: 400;
    line-height: 30px;
}
.game-videos{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.game-poster{
    position: relative;
    border-radius: 8px;
    height: 17.5rem;
    width: 15.5rem;
    background-color: rgba(0, 0, 0, .3);
}
.game-poster img{
    position: absolute;
    height: 17.5rem;
    width: 15.5rem;
}
.fa-3x{
    color: #fff;
    position: absolute;
    left: 6rem;
    top: 7rem;
    
}
.btn-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    left: 0;
    top: 0;
    opacity: 0;
    background-color:rgba(0, 0, 0, 0);
    transition: background-color 1s ease;
}
.btn-overlay > p{
    color: #FF42A5;
    font-size: 1.3rem;
    font-weight: 600;
    position: absolute;
    left: 4rem;
    top: 10rem;
}
.game-poster:hover .btn-overlay{
    opacity: 1;
    background-color: rgba(0, 0, 0, .6);
}
.game-name{
    color: #534C64;
    max-width: 15.5rem;
    font-size: .9rem;
    font-weight: 500;
    line-height: 25px;
    margin-top: 10px;
}

/* instant play sections styles */
.instant-play{
    height: 37.5rem;
    display: flex;
    margin: 50px auto;
}

.play-content{
    width: 40%;
    text-align: right;
    padding: 170px 120px 0 0;
}
.play-content h2{
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 50px;
}
.i-play{
    color: #F948B2;
}
.play-content p{
    color: #534C64;
    font-weight: 400;
    line-height: 30px;
    margin-top: 15px;
}
.instant-pic{
    position: relative;
}
.top-pic {
    height: 34rem;
    margin-left: 120px;
}
.bottom-pic{
    position: absolute;
    height: 18rem;
    top: 20rem;
    right: 25rem;
}



/* Responsiveness */

@media screen and (max-width:576px) {
    .logo-menu{
        margin-top: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        box-shadow: none;
    }
    .logo{
        margin-bottom: 25px;
    }
    .title {
        font-size: 2rem;
    }
    .menu>ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu>ul> li{
        margin-bottom: 20px;
    }
    .logo img{
        height: 1.4rem;
        margin-right: 8px;
    }
    .title {
        font-size: 1.2rem;
    }
    .icon{
        padding: 6px 0 6px 12px;
        margin-top: 5px;
    }
    .menu li{
        font-size: .43rem;
        margin-right: 8px;
    }
    .banner{
        height: fit-content;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        background-position: bottom;
        background-size: 90%;
        padding-bottom: 35px;
    }
    
    .banner-image>img {
        height: 20rem;
        margin-bottom: 50px;
    }
    .banner-title1 {
        font-size: 1.2rem;
    }

    .banner-title2 {
        font-size: 2.1rem;
    }
    .primary-btn1 , .primary-btn2{
        font-size: .6rem;
        padding: 8px 15px;
        border-radius: 15px;
        margin-top: 0;
    }
    .gamer{
        background-color: transparent;
        height: fit-content;
        flex-direction: column;
    }
    .gaming-content{
        text-align: center;
    }
    .gaming-content > p{
        font-size: .5rem;
        font-weight: 400;
        line-height: 15px;
    }
    .every-gamer{
        font-size: 1rem;
    }
    .gaming-title{
        color: #8758f1;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .gaming-image>img {
        height: 15rem;
        width: 22rem;
    }
    .unknown-btn {
        font-size: .6rem;
        font-weight: 600;
        border-radius: 15px;
        padding: 8px 12px;
        margin: 8px 0 20px 0;
    }
    .online-videos{
        height: fit-content;
        width: 18rem;
        margin: 0 auto;
    }
    .online-title{
        font-size: 1.3rem;
        font-weight: 700;
    }
    .short-note {
        font-size: .6rem;
        font-weight: 400;
        line-height: 30px;
    }
    .game-videos{
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        row-gap: 10px;
    }
    .game-name{
        text-align: center;
        font-size: .5rem;
        margin-top: 0;
    }
    .instant-play{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .play-content {
        width: fit-content;
        text-align: center;
        padding: 0;
    }.play-content h2 {
        font-size: 1.8rem;
        line-height: 35px;
    }
    .play-content p {
        line-height: 20px;
        margin-bottom: 30px;
    }

    .top-pic {
        height: 15rem;
        width: 15rem;
        margin-left: 15px;
    }
    .bottom-pic{
        position: absolute;
        height: 8rem;
        width: 7rem;
        top: 8rem;
        right: 11rem;
    }

}

@media screen and (min-width:576px) and (max-width:992px){
    .logo-menu {
        padding: 10px;
        justify-content: space-evenly;
    }
    .logo img {
        height: 1.2rem;
    }
    
    .title {
        font-size: 1.2rem;
    }
    .menu li{
        font-size: .6rem;
        margin-right: 10px;
    }
    .icon{
        padding: 6px 0 6px 12px;
    }

    .banner{
        height: max-content;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        background-position: bottom;
        background-size: 65%;
        padding-bottom: 40px;
    }
    
    .banner-image>img {
        height: 32rem;
        margin-bottom: 105px;
    }
    .banner-title1 {
        font-size: 1.8rem;
    }

    .banner-title2 {
        font-size: 3.1rem;
    }
    .primary-btn1 , .primary-btn2{
        font-size: .8rem;
        padding: 8px 15px;
        border-radius: 15px;
        margin-top: 0;
    }
    .gamer{
        background-color: transparent;
        height: fit-content;
        flex-direction: column;
    }
    .gaming-content{
        text-align: center;
    }
    .gaming-content > p{
        font-size: .5rem;
        font-weight: 400;
        line-height: 15px;
    }
    .every-gamer{
        font-size: 1rem;
    }
    .gaming-title{
        color: #8758f1;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .gaming-image>img {
        height: 15rem;
        width: 22rem;
    }
    .unknown-btn {
        font-size: .6rem;
        font-weight: 600;
        border-radius: 15px;
        padding: 8px 12px;
        margin: 8px 0 20px 0;
    }
    .online-videos{
        height: fit-content;
        width: 30rem;
    }
    .online-title{
        font-size: 2.3rem;
        font-weight: 700;
    }
    .short-note {
        font-size: 1rem;
        font-weight: 400;
        line-height: 30px;
    }
    .game-videos{
        display: grid;
        grid-template-columns: repeat(2,19rem);
        justify-content: center;
        row-gap: 10px;
    }
    .game-name{
        text-align: center;
        font-size: 1rem;
        margin-top: 0;
    }
    .instant-play {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .play-content {
        width: fit-content;
        text-align: center;
        padding: 0;
    }

    .play-content h2 {
        font-size: 2.2rem;
        line-height: 40px;
    }
    .play-content p {
        margin-bottom: 30px;
    }
    .top-pic {
        height: 28rem;
        width: 28rem;
        margin-left: 40px;
    }
    .bottom-pic {
        height: 14rem;
        top: 16rem;
        right: 20rem;
    }
}
